<!DOCTYPE html>
<html>
  <head>
    <title>Edit Book</title>
  </head>
  <body>
    <h1>Edit Book</h1>
    Name: <br />
    <form action={{url_for('editBook', book_id=book_id)}} method = 'POST'>
        <input type='text' name='name' placeholder="{{title}}">
        <input type='submit' value='Edit'>
        <a href="{{url_for('showBook')}}">Cancel</a> 
    </form>

  </body>
</html>
