<!DOCTYPE html>
<html>
  <head>
    <title>New Book</title>
  </head>
  <body>
    <h1>New Book</h1>
    Name: <br />
    <form action={{url_for('newBook')}} method = 'POST'>
        <input type='text' name='name' placeholder="{{title}}">
        <input type='submit' value='Create'>
    </form>
  </body>
</html>
